.category{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.categoryBtn{
    color: white;
    border-color: transparent;
    width: 17%;
    height: 24vh;
    font-size: 22px;
    font-family: system-ui;
    letter-spacing: 1px;
    margin: 5px;
    text-align: center;
}
.categoryTitle{
    margin: 0;
}
.quizTable{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70vw;
    height: 75vh;
    color: white;
    font-family: fantasy;
    letter-spacing: 2px;
}
.quizQuestion{
    font-size: 27px;
    padding-top: 5vh;
    text-align: center;
}
.quizAnswers{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 40vh;
    margin-top: 10vh;
    background-color: azure;
    border-radius: 20px;
}
.quizAnswerFrame{
    border-radius: 20px;
    color: red;
    font-size: 22px;
    height: 6vh;
    line-height: 2.5;
    margin: 6vh 17px 17px;
    text-align: center;
    width: 40%;
}
.quizAnswerFrame:hover{
    width: 42%;
    background-color: rgb(218, 250, 250);
}
.wrongAnswerMsg{
    background-color: red;
    opacity: 0.5;
}
.correctAnswerMsg{
    background-color: green;
    opacity: 0.5;
}
.mainFrame{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.startMenu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.menuImg{
    height: 55vh;
    margin-top: -50px;
}
.timer{
    position: absolute;
    color: red;
    font-family: fantasy;
    letter-spacing: 2px;
    font-size: 18px;
    text-align: center;
}
.timerTick{
    position: absolute;
    color: red;
    font-family: fantasy;
    letter-spacing: 2px;
    font-size: 20px;
    text-align: center;
    animation-name: blinkingTimer;
    animation-duration: 1s;
    animation-iteration-count: 10;
    animation-timing-function: ease-out;
}
.timeRanOutMsg{
    color: red;
}
.helpOptions{
    position: absolute;
    top: 23vh;
    width: 25vw;
    left: 17vw;
    z-index: 99;
}
.helpOptionsBtns{
    background-color: azure;
    border-color: azure;
    padding: 3px;
    margin-right: 8px;
}
.helpBtn{
    background-color: azure;
    border-color: transparent;
    font-size: 30px;
    position: absolute;
    right: -22vw;
    top: 23vh;
    z-index: 99;
}
.questionsAmount{
    color: #000;
    font-size: 18px;
    left: -20vw;
    position: absolute;
    top: 22vh;
    background-color: azure;
    z-index: 99;
}
@keyframes blinkingTimer {
    0% {
        font-size: 20px;
    }
    100% {
        font-size: 30px;
    }
}
form{
    display: flex;
    flex-direction: column;
}
.nameInput, .levelInput, .startBtn, .categoryInput{
    font-size: 35px;
    font-family: fantasy;
    border-radius: 8px;
    padding: 7px;
    background-color: black;
    color: white;
    border-color: white;
    margin-bottom: 1vh;
}
.nameInput{
    width: 18.1vw;
    height: 3.5vh;
}
.levelInput, .startBtn, .categoryInput{
    width: 18.8vw;
    height: 5vh;
}
.bottomButtons{
    margin-left: 0.6vw;
}
.quitBtn, .nextBtn{
    background-color: red;
    border: none;
    border-radius: 5px;
    font-size: 24px;
    font-family: fantasy;
    height: 4vh;
    line-height: 0;
    padding: 10px;
    width: 5vw;
    margin: 5px;
}
.quitBtn:hover, .nextBtn:hover{
    padding: 22px;
    background-color: rgb(255, 22, 22);
    opacity: 0.8;
}
.gameOverMsg{
    color: red;
    font-family: fantasy;
    font-size: 45px;
    margin-top: 30vh;
    text-align: center;
}
@media screen and (max-width: 1024px) {
    .quizQuestion{
        font-size: 28px;
    }
    .quizAnswerFrame{
        width: 40%;
        font-size: 20px;
    }
    .quitBtn, .nextBtn{
        font-size: 20px;
    }
    .quitBtn, .nextBtn:hover{
        padding: 8px;
    }
}
@media screen and (max-width: 768px) {
    .nameInput{
        width: 18.6vw
    }
    .levelInput, .startBtn, .categoryInput{
        width: 20.8vw;
    }
    .quizQuestion{
        font-size: 20px;
        width: 38%;
    }
    .quitBtn, .nextBtn{
        font-size: 17px;
        width: 6vw;
    }
}
@media screen and (max-width: 425px) {
    .menuImg{
        height: 32vh;
    }
    .nameInput, .levelInput, .startBtn{
        font-size: 10px;
    }
    .nameInput{
        height: 1.5vh;
    }
    .levelInput, .startBtn, .categoryInput {
        width: 22.8vw;
        height: 3.3vh;
    }
    .quizQuestion{
        font-size: 12px;
        width: 100%;
    }
    .quizAnswerFrame{
        width: 30%;
        font-size: 14px;
        width: 90%;
    }
    .quizAnswerFrame:hover{
        width: 95%;
    }
    .quitBtn, .nextBtn{
        height: 2.5vh;
        width: 10vw;
        font-size: 14px;
    }
    .bottomButtons {
        margin-left: 13.6vw;
    }
}